@import "~bootswatch/dist/flatly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/flatly/bootswatch";
@import "variables";
@import "method";
//@import "fonts";

#root {
  color: #ffffff;
  width: 100%;
  height: inherit;
  background: url(#{$image-path}/bg_login.png) no-repeat;
  //font-family: $font-family-sans-serif, sans-serif;
  @include font-default-style($white, $font-family-sans-serif, $font-size-base);

  h1 {
    color: red;
  }
  .title {
    color: deeppink;
    text-decoration: underline;
  }
}