@import "reset";
@import "method";

#root {
  width: 100%;
  height: 500px;
  background-image: url('/bg_login.png');

  //background-image: url(https://s.pstatic.net/static/www/img/2018/sp_search.svg);

  h1 {
    color: red;
  }
  .title {
    color: deeppink;
    text-decoration: underline;
  }
}