@import "~bootswatch/dist/flatly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/flatly/bootswatch";
@import "variables";
@import "method";
//@import "fonts";

#root {
  color: #ffffff;
  width: 100%;
  height: inherit;
  @include font-default-style($white, $font-family-sans-serif, $font-size-base);
}

.login {
  width: 100%;

  header {
    display: grid;
    height: 30em;
    background: url(#{$image-path}/bg_login.png) no-repeat;
    img { margin: 9em auto; }
  }
}

