

/* color | family | size | weight | letter spacing */
@mixin font-default-style(
  $color: $bass-font-color,
  $family: 'Roboto medium',
  $size: 13px,
  $weight: normal,
  $letter-spacing: -0.1px) {
  letter-spacing: $letter-spacing;
  font: {
    family: $family, sans-serif;
    weight: $weight;
    size: $size;
  }
  text-decoration: none;
  color: $color;
}

/* width == height */
@mixin equal-width-height($size) {
  width: $size;
  height: $size;
}


/* width == height */
@mixin equal-width-height($size) {
  width: $size;
  height: $size;
}

/* height == line-height  */
@mixin equal-height-lineheight($height) {
  height: $height;
  line-height: $height;
}

/* init padding, margin */
@mixin init-padding-margin() {
  padding: 0px;
  margin: 0px;
}

@mixin cal-footer-height() {

}

