/* 사이즈 */
$login-header-size: 30em;

/* 경로 */
$image-path: '/images';
$font-path: '/webfont';

/* 폰트 */
$font-family-sans-serif: "Noto Sans KR Regular", sans-serif;
$font-size-base: 0.9375rem;
$font-size-xs: 0.7375rem;

/* 색상 */
$gray-750: #57595c;






